<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <script src="angular.js" charset="utf-8"></script>
    <title></title>
</head>

<body>
    <div ng-controller="MainCtrl">
        <h1>Hello Angular!</h1>
        <p ng-if="hourOfDay < 12">Good Morning!</p>


        <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/> Show when checked:
        <span ng-if="checked" class="animate-if">
      </div>
  This is removed when the checkbox is unchecked.
</span>
        <script>
            var module = angular.module("myApp", []);
            module.controller("MainCtrl", Main);

            function Main($scope) {
              $scope.hourOfDay = 9;
                console.log("Main called");
            }
        </script>
</body>

</html>
